<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link href="/static/css/site.css" type="text/css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/static/images/car_favicon.jpeg"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><img class="logo" src="/static/images/car_shop.jpeg" /></li>
          <li><a href="/">Browse</a></li>
          {{#if hasUser}}
            <li><a href="/create">Publish Car</a></li>
            <li><a href="/accessory">Create Accessory</a></li>
            <li><a href="/logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          {{/if}}
          <li><a href="/about">About</a></li>
        </ul>
      </header>

      {{#if err}}
        <div id="notifications">
          {{#each err}}
            <p>{{msg}}</p>
          {{/each}}
        </div>
      {{/if}}

      <main>

        {{{body}}}

      </main>
    </div>
    <footer>@Car-Shop 2: author Petar Zhelev</footer>
  </body>

</html>